@model AcquistaBigliettoViewModel



@{
    <h1>@ViewBag.Titolo</h1>
}


<form asp-controller="CompraBiglietto" asp-action="Compra" method="post">
  
    <div class="mb-3">
        <label class="form-label">Sala:</label>
        <input asp-for="Sala" >
    </div>
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input asp-for="Nome">
    </div>
    <div class="mb-3">
        <label class="form-label">Cognome</label>
        <input asp-for="Cognome">
    </div>
    <div class="mb-3">
        <label class="form-label">Codice fiscale</label>
        <input asp-for="CodiceFiscale">
    </div>

   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



@* <ol>
    @if (Model?.Biglietti != null && Model.Biglietti.Any())
    {
        foreach (var Biglietto in Model.Biglietti)
        {
            <li>Id: @Biglietto.Id - Emesso il: @Biglietto.EmessoIl - Sala: @Biglietto.Sala - Spettatore: @Biglietto.Spettatore</li>
        }
    }
    else
    {
        <li>Nessun biglietto disponibile.</li>
    }
</ol> *@



